.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
uploads/images/parent/asia.jpg
uploads/images/destination/india2.jpg
uploads/images/destination/india1.jpg
uploads/images/destination/india.jpg
uploads/images/destination/1556370242_shutterstock_780181144_jpg2.jpg
uploads/images/destination/1556370242_shutterstock_780181144_jpg1.jpg
uploads/images/destination/1556370242_shutterstock_780181144_jpg.jpg
